<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Location Permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" /> <!-- Network Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Notification Permissions -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".HomeHelperFinderApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HomeHelperFinder"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.HelperBookingListActivity"
            android:exported="false"
            android:theme="@style/Theme.HomeHelperFinder" />
        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
        <meta-data
            android:name="HASH_SECRET"
            android:value="${HASH_SECRET}" />

        <!-- Launcher Activity -->
        <activity
            android:name=".activities.ViewFeedbacckActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DeleteRequestActivity"
            android:exported="false" />
<!--        <activity-->
<!--            android:name=".activities.HelperDashboardActivity"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".activities.EditRequestActivity"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".activities.PostRequestActivity"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".activities.LoginActivity"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".activities.UserTypeActivity"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".activities.WelcomeActivity"-->
<!--            android:exported="false" />-->
        <activity
            android:name=".ui.MenuActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.HomeHelperFinder.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Developer Menu Activity -->
        <activity
            android:name=".ui.registerHelper.RegisterHelperActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MakePaymentActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="makepaymentactivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.RegisterCustomerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.HelperDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.PutRequest.EditRequestActivity"
            android:exported="false" />
        <activity
            android:name=".ui.postRequest.PostRequestActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LocationPickerActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".ui.profileManagement.ProfileManagementActivity"
            android:exported="false" />
        <activity
            android:name=".ui.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.UserTypeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.chat.ConversationsActivity"
            android:exported="false"
            android:label="Messages" />
        <activity
            android:name=".ui.chat.ChatActivity"
            android:exported="false"
            android:label="Chat" />
        <activity
            android:name=".ui.notification.NotificationActivity"
            android:exported="false"
            android:label="Notifications" />
        <activity
            android:name=".ui.admin.AdminRequestsActivity"
            android:exported="false"
            android:label="Admin Requests" />
        <activity
            android:name=".ui.editProfile.CustomerEditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.editProfile.HelperEditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.HelperApplicationsActivity"
            android:exported="false"
            android:label="Helper Applications" />
        <activity
            android:name=".ui.admin.HelperApplicationDetailActivity"
            android:exported="false"
            android:label="Application Detail" />
        <activity android:name=".ui.HelperWalletActivity"
            android:exported="false" />
    </application>

</manifest>